# The Python packages we need to install for the project

tensorflow
pandas 
dvc
notebook
numpy
matplotlib
seaborn
python-box # Exception handling
# Use YAML files with python
pyYAML
tqdm # Progress bar
ensure
joblib
types-PyYAML
scipy
# Web application
Flask
Flask-Cors

-e .